@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@font-face {
  font-family: "OldSansBlack";
  src: url('../fonts/OldSansBlack.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2effe;
  color: #68b4b5;
  font-family: "OldSansBlack"

}

.container {
  display: flexbox;
  justify-content: center;
  margin: 30px auto;
  overflow: auto; 
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  height: 60px;
  width: 80px;
}

.green-btn {
  background-color: #68b4b5;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background-color: #68b4b5;
}

.btn-block {
  display: block;
  width: 100%;
}

.mint-input {
  text-align: center;
  width: 80px;
  height: 60px;
  margin: 5px;
  border-radius: 5%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-and-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 10px 20px
}

/* Style the links inside the navigation bar */

.topnav-right{
  display: flex;
  gap: 15px;
  align-items: center;
  align-content: center;
}


/* Right-aligned section inside the top navigation */

.main{
  text-align: center;
  padding: 5;
  max-width: 100%;
  height: auto;
}

.float-text{ 
  text-align: center;
  padding-top: 100;
  margin-top: 100;
  width: 100%;
}

.yeti-banner {
  width: 35%;
}



.bio-section {
  display: flex;
  justify-content: space-around;
}

.bio-square {
  display: flex;
  align-items: center;
  width: 25%;
}

.bio-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
}

.avatar{
  width: 100px;
}

.icon {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.icon:hover {
  color: #c1dedf;
}


/* media query for mobile */

@media screen and (max-width: 600px) {

  .main {
    padding: 0 15px;
  }

  .info {
    padding: 10px 15px
  }

  .bio-square {
    flex-direction: column;
    width: 60%;
    padding-top: 25px;
    text-align: center;
    gap: 10px
  }

  .bio-section {
    flex-direction: column;
    align-items: center;
  }

  .topnav {
    font-size: 25px;
  }

  .yeti-banner {
    width: 100%;
    padding: 25px 0;
  }
  
  .avatar {
    width: 80px;
  }

  .btn-width{
    width: 100%;
    height: 100%;
  }

}