@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@font-face {
  font-family: "OldSansBlack";
  src: url('../fonts/OldSansBlack.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2effe;
  color: #68b4b5;
  font-family: "OldSansBlack"

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  height: 60px;
  width: 80px;
}

.green-btn {
  background-color: #68b4b5;
}

.mint-btn {
  width: 255px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background-color: #68b4b5;
}

.btn-block {
  display: block;
  width: 100%;
}

.mint-input {
  text-align: center;
  width: 80px;
  height: 60px;
  margin: 5px;
  border-radius: 5%;
  /* border: 1px solid rgba(1,1,1,0.5); */
  border: 1px solid #68b4b5;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-and-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 30px;
  padding: 10px 20px;
}

/* Style the links inside the navigation bar */

.topnav-right{
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
}


/* Right-aligned section inside the top navigation */

.main{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 5;
  max-width: 100%;
  height: auto;
}

.prints {
  width: 35%;
  background-image: url("../images/yetiprints1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.5;
}

.test{
  width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
} 

.title-and-description {
  text-align: center;
  width: 100%;
  margin: 0;
}

.title-and-description h1 {
  margin: 0;
}

.title-and-description h2 {
  margin: 0;
}

.title-and-description p {
  margin: 0;
}

.title {
  font-size: 60px;
}

.minting-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.minting-section h2 {
  margin: 0;
}

.yeti-banner {
  width: 90%;
}

.bio-section {
  display: flex;
  justify-content: space-around;
  margin: 20vh 0vh;
}

.bio-square {
  display: flex;
  align-items: center;
  width: 25%;
}

.bio-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
}

.avatar{
  width: 100px;
}

.icon {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.icon:hover {
  color: #c1dedf;
}


/* media query for mobile */

@media screen and (max-width: 600px) {

  .main {
    padding: 0 15px;
  }

  .info {
    padding: 10px 15px
  }

  .bio-square {
    flex-direction: column;
    width: 60%;
    padding-top: 25px;
    text-align: center;
    gap: 10px
  }

  .bio-section {
    flex-direction: column;
    align-items: center;
  }

  .topnav {
    font-size: 25px;
  }

  .yeti-banner {
    width: 100%;
    padding: 25px 0;
  }
  
  .avatar {
    width: 80px;
  }

  .btn-width{
    width: 100%;
    height: 100%;
  }

}