@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2effe;
  color: #68b4b5;
}

.container {
  display: flexbox;
  justify-content: center;
  margin: 30px auto;
  overflow: auto; 
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background-color: #68b4b5;
}

.btn-block {
  display: block;
  width: 100%;
}

.mint-input {
  text-align: center;
  width: 60px;
  height: 40px;
  border-radius: 5px;
}

.input-and-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #b56888;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.main{
  text-align: center;
  padding: 5;
  max-width: 100%;
  height: auto;
}

.float-text{ 
  text-align: center;
  padding-top: 100;
  margin-top: 100;
  width: 100%;
}

.yeti-banner {
  width: 40%;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
}

.bio-square {
  display: flex;
  align-items: center;
  width: 25%;
}

.bio-section {
  display: flex;
  justify-content: space-around;
}

.avatar{
  width: 100px;
  margin-right: 10px;
}

@font-face {
  font-family: "OldSansBlack";
  src: url('../fonts/OldSansBlack.ttf');
}

.font{
  font-family: "OldSansBlack"
}

.icon {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.icon:hover {
  background-color: #c1dedf;
}

/* media query for mobile */

@media screen and (max-width: 600px) {
  .bio-square {
    flex-direction: column;
    width: 60%;
  }

  .bio-section {
    flex-direction: column;
    align-items: center;
  }

  .topnav a {
    font-size: 20px;
  }

  .topnav-right {
    font-size: 20px;
  }

  .yeti-banner {
    width: 100%;
  }
  
  .avatar {
    width: 80px;
  }

  .btn-width{
    width: 100%;
    height: 100%;
  }

}